.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}
.footer__items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.footer__item-img {
    display: inline-block;
    width: 5rem;

}
.footer__item-title{
    margin-top: 1rem;
}
.footer__item-img1{
    width: 4rem;
}
.footer__logo{
    width: 70%;
    display: inline-block;

}



/* xs */
/* @media (min-width: 475px) {
 
} */

/* sm */
/* @media (min-width: 640px) {

} */

/* md */
@media (min-width: 768px) {
   
    .footer__items-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

}

/* lg */
/* @media (min-width: 1024px) {

} */

/* xl */
/* @media (min-width: 1280px) {

} */

/* 2xl */
/* @media (min-width: 1536px) {
   
} */