
/* .overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
} */

.popupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 1;
    
}
.popupform:target{
    visibility: visible;
    opacity:1;
}

.popupform__container{
    /* background-color: var(--clr-dark) ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    width: 100%;
    max-width: 650px;
    
    border: 5px solid var(--clr-brand);

    
    
        
}
.popupform__container form{
    background-color: var(--clr-dark);
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.popupform__container h2{
    color: var(--clr-dark);
}
.popupform__container a{
    text-decoration: none;
    align-self: flex-end;
    background-color: var(--clr-dark);
   padding: 0.3em;
    border-radius: 30px;
}
